@mixin form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    h3 {
        text-align: center;
    }

    label {
        font-size: 140%;
        margin-top: 1rem;
    }

    input {
        padding: 0.4rem;
        border: none;
        border-radius: 5px;
        min-width: 25vw
    }
}


.pat-login-main-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    .login-form-container {
        @include form-container();
    }

    #login-btn {

        display: flex;
        align-items: center;
        gap: 5vw;

        button {
            padding: 0.3rem;
            background-color: rgb(5, 123, 254);
            color: whitesmoke;
            border-radius: 5px;
            border: none;
            width: 10vw;
            min-width: 60px;
        }

        #signup-btn {
            button {
                background-color: RGB(23, 161, 184);
                min-width: 70px;
            }
        }
    }

}