@mixin center {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-appointment-main-container {

    @include center();
    min-height: 100vh;

    #heading {
        margin-bottom: 3vh;
    }

    .second-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .button-container {

            flex: 1;
            margin-left: 8rem;
            height: 70vh;

            @include center();
            
    
            button {
                @include center();
                margin-top: 1rem;
                width: 25vw;
                border-radius: 8px;
                padding: 0.5rem;
                border: none;
                background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
                color: white;
                font-size: x-large;
            }
    
            button:hover {
                opacity: 0.5;
            }
    
            #submit {
                margin-bottom: 5vh;
                button {
                    background: RGB(23, 161, 184);
                }
            }
        }

        .doctor-list {
            margin-left: 4vw;
            height: 70vh;
            overflow-y: scroll;
            flex: 3;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}