@mixin center {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.patient-card-main-section {

    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .patient-card-body {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            height: 22vh;
            width: 25vw;
            min-width: 200px;
            background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        #pat-info {
            @include center();
            padding: 1rem;
            img {
                width: 100%;
                height: 90%;
            }
            h3 {
                margin-top: 1rem;
            }
        }

        #schedule {
            @include center();
            button {
                padding: 1rem;
                border-radius: 8px;

            }

        }

        #vitals {
            @include center();
            button {
                padding: 1rem;
                border-radius: 8px;

            }

        }
    }

}