* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pat-home-card-container {

    width: 20vw;
    height: 45vh;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 1rem;
    color: black;
    margin: 1rem;

    img {
        width: 100%;
        height: 22vh;
    }

    
}

.pat-home-card-container:hover {

    cursor: pointer;
    background-color: black;
    color: white;
}