// trying to adding mixin to not repeat the code
@mixin check-section {
    display: flex;
    justify-content: space-between;
    gap: 3vw;

    button {
        width: 10vw;
        padding: 0.3rem;
        background-color: rgb(21, 162, 184);
        border-radius: 5px;
        color: whitesmoke;
    }

    input {
        width: 10vw;
    }
}

// mixin for the pop-up button
@mixin popup-button {

    padding: 0.3rem;
    background-color: rgb(5, 123, 254);
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    width: 100%;
}

@mixin form-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        h3 {
            text-align: center;
        }

        label {
            font-size: 140%;
            margin-top: 1rem;
        }

        input {
            padding: 0.4rem;
            border: none;
            border-radius: 5px;
        }
}

.daily-checkup-body {

    h1 {
        margin: 2rem;
    }

    .form-container {
        @include form-container();

        .vital-check-section {
            @include check-section();
        }

        #popup-button {
            @include popup-button();
        }

        .sub-section {
            margin-bottom: 5vh;
        }

        #submit-btn {
            @include popup-button();
        }

    }
}