@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container {
    background-color: RGB(56, 56, 56);
    border-radius: 8px;
}

@mixin dimension{
    height: 22vh;
    min-width: 200px;
}

.prescription-main-body {

    width: 100%;

    .date {
        @include container();
        margin-bottom: 3vh;
    }

    .prescription-card-body {
        display: flex;
        flex-direction: row;
        gap: 5vh;
        flex-wrap: wrap;

        #doctor-name {
            @include center();
            @include container();
            @include dimension();
            flex: 1;
        }

        #details {
            @include container();
            @include dimension();
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #medicines {
            @include center();
            @include container();
            @include dimension();
            padding: 2rem;
            flex: 1;
            overflow-y: scroll;
        }
    }
}