.doctor-home-main-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    #heading {
        margin-bottom: 10vh;
        text-align: center;
        button {
            padding: 0.5rem;
            border-radius: 8px;
            border: none;
            width: 10vw;
            min-width: fit-content;
        }
    }

    .doctor-cards-container {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
