* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-aid-card-main-container {

    width: 22vw;
    height: 30vh;
    background-color: black;
    border-radius: 4px;
    color: white;
    margin: 1rem;
    padding: 0.5rem;

    img {
        width: 20vw;
        height: 20vh;
    }

    h2 {
        margin-top: 2rem;
    }
}

.first-aid-card-main-container:hover {

    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}
